.intro {
  color: black;
  background-color: white;
  align-self: center;
  font-style: gavamond;
  float: center;
}
.author {
  font-size: 72;
  font-style: oblique;
  font-family: sans-serif;
}
.carl {
  font-family: serif;
  background-color: black;
  color: white;
  background-position: center;
}
.background {
  background-color: inherit;
  color: white;
}
.img {
  float: right;
}
.border {
  border: 2px solid black;
  padding: 8px;
  background-color: pink;
}
.page {
  background-color: black;
  font: sans;
}
