.intro {
  color: black;
  background-color: white;
  align-self: center;
  font-style: gavamond;
  float: center;
}
.author {
  font-size: 72;
  font-style: oblique;
  font-family: sans-serif;
}
.carl {
  font-family: serif;
  background-color: white;
  color: black;
  background-position: center;
}
.background {
  background-color: inherit;
  color: black;
}
.img {
  float: right;
}
.border {
  border: 2px solid pink;
  padding: 8px;
  background-color: pink;
}
.page {
  background-image: url (../assets/background.jpg);
  background-size: 100%;
  font: sans;
}
body {
   font-family: sans-serif;
}
.background p {
  background-color: D03E1F;
}
